
#quick-notification {
    font-family: "Helvetica"; /*you can choose your font here*/
    position: fixed;
    right: -1px;
    bottom: -1px;
    max-width: 400px;
    max-height: 100%;
    overflow: auto;
    z-index: 100;
}

#quick-notification .quick-notification {
    color: white; /*notification text color*/
    min-width: 300px; /*notification minimal width*/
    max-width: 100%;
    min-height: 90px; /*notification minimal height*/
    position: relative;

    margin: 20px;
    padding: 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#quick-notification .standard {
    background-color: rgba(54, 63, 69, 0.6); /*notification backgrond color*/
}

#quick-notification .standard:hover {
    background-color: rgba(54, 63, 69, 1);
}

#quick-notification .danger {
    background-color: rgba(189, 55, 54, 0.6); /*notification backgrond color*/
}

#quick-notification .danger:hover {
    background-color: rgba(189, 55, 54, 1);
}

#quick-notification .success {
    background-color: rgba(75,174,79, 0.6); /*notification backgrond color*/
}

#quick-notification .success:hover {
    background-color: rgba(75,174,79, 1);
}

#quick-notification .info {
    background-color: rgba(2,168,243, 0.6); /*notification backgrond color*/
}

#quick-notification .info:hover {
    background-color: rgba(2,168,243, 1);
}

#quick-notification .quick-notification .quick-notification-close {
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 5px 12px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#quick-notification .quick-notification .quick-notification-close {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;

}

#quick-notification .quick-notification .quick-notification-close:hover {
    color: black;
}

#quick-notification .quick-notification .quick-notification-header {

}

#quick-notification .quick-notification .quick-notification-header h4 {
    margin: 5px 0;
}

#quick-notification .quick-notification .quick-notification-footer {
    text-align: right;
}

#quick-notification .notification .quick-notification-footer button {
    padding: 3px 10px;
}

@media (max-width: 360px) {
    #quick-notification .quick-notification {
        min-width: 200px;
    }
}